.hero {
	grid-template-columns: 1fr !important;
}

.hero .copy {
	align-items: center !important;
}

.hero .copy > * {
	max-width: 100% !important;
}

.hero .stack {
	text-align: center !important;
}
